RewriteEngine on

## Redirect to non www from www-ed
# RewriteCond %{HTTP_HOST} ^www\.cms\.phu [NC]
# RewriteRule ^(.*)$ http://cms.phu/$1 [L,R=301]

## Redirect to https from http
# RewriteCond %{HTTPS} !on [NC]
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RedirectMatch 403 /\..*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php
RewriteRule ^(.*)\.(phtml|sql|json) /index.php
RewriteRule ^etc\/post\/statistic\/([0-9]+)$ /index.php
RewriteRule ^(.+)/.+\.php /index.php

## Cache static files
# <IfModule mod_expires.c>
#   ExpiresActive on
# 
#   ExpiresByType image/gif                 "access plus 9 month"
#   ExpiresByType image/png                 "access plus 9 month"
#   ExpiresByType image/jpg                 "access plus 9 month"
#   ExpiresByType image/jpeg                "access plus 9 month"
# 
#   ExpiresByType text/css                  "access plus 2 months"
#   ExpiresByType application/javascript    "access plus 2 months"
#   ExpiresByType text/javascript           "access plus 2 months"
# 
#   <IfModule mod_headers.c>
#     Header append Cache-Control "public"
#   </IfModule>
# 
# </IfModule>

## Compress Static files
# <IfModule deflate_module>
#     # Enable compression for the following file types.
#     AddOutputFilterByType DEFLATE application/javascript text/css text/html text/javascript text/plain text/xml
# </IfModule>